<p id="notice"><%= notice %></p>

<h1>Questions</h1>
<br>

<div id="questions", class="list-group" data-url="<%= sort_questions_path %>">
  <% @questions.each do |question| %>
    <%= link_to question.question, question, class: "list-group-item", id: dom_id(question) %>
  <% end %>
</div>

<%= link_to 'New Question', new_question_path %>
